  .form-group {
    margin-bottom: 20px;
  }

  .form-group input,
  .form-group textarea
  {
    width: 350px;
    padding: 12px;  
    border: 1px solid black;
    border-radius: 10px;
  }

  .form-group textarea {
    min-height: 120px;
  }

  .form-group label {
    color: black;
    margin-right: 320px;
  }

  .button {
    margin-top: 20px;
    height: 50px;
    width: 350px;
    font-size: large;
    background-color: blue;
    color: white;
    font-weight: 900;
    border-radius: 10px;
  }

  .title{
    margin: 16px;
  }

  